{% extends "layout.html" %}

{% block title %}
Task Manager
{% endblock %}

{% block content %}

<div class="container text-center">
    <div class="row">
        {% comment %} col1 {% endcomment %}
      <div class="col">
        Column
      </div>
      {% comment %} col2 {% endcomment %}
      <div class="col">
        {% comment %} nav  {% endcomment %}
        <div class="item1"> <h1>Tasks</h1>

            <a href="{% url 'task_create' %}" class="btn btn-primary">Add Task</a></div>
      </div>
      {% comment %} content {% endcomment %}
      <div class="item2 container row gap-3 "> 
        {% for task in tasks %}
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ task.title }}</h5>
                <p>user: {{task.user}}</p>
                <p>Complete Status: {{task.complete}}</p>
                <p>Task Creation Date: {{task.created}}</p>
                
                </div>
            </div>
        </div>
    {% empty %}
        <p>No tasks available.</p>
    {% endfor %}
</div>
    </div>
  </div>




 


{% endblock %}
